<!DOCTYPE html>
<html lang="en">
    {% include 'partials/head' %}

    <body class="{{ layoutType }} {{ title | slugify }}">
        <header class="page-header">
            <div class="navigation-wrapper">
                <button class="menu-trigger" aria-label="Open Menu">
                    <svg class="menu-trigger__icon" viewBox="0 0 24 14" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1C0 0.447715 0.447715 0 1 0H23C23.5523 0 24 0.447715 24 1C24 1.55228 23.5523 2 23 2H1C0.447715 2 0 1.55228 0 1ZM0 7C0 6.44772 0.447715 6 1 6H23C23.5523 6 24 6.44772 24 7C24 7.55228 23.5523 8 23 8H1C0.447715 8 0 7.55228 0 7ZM1 12C0.447715 12 0 12.4477 0 13C0 13.5523 0.447715 14 1 14H23C23.5523 14 24 13.5523 24 13C24 12.4477 23.5523 12 23 12H1Z"/>
                    </svg>
                </button>
                {% include 'partials/menu' %}
            </div>
            <div class="page-header__inner">
                <h1 class="page-header__title">{{ title }}</h1>
                <p class="page-header__subtitle">{{ subTitle }}</p>
            </div>
        </header>
        <main class="main-content">
            {{ content }}
        </main>
        {% if footerResources %}
            {% include 'partials/resource-footer' %}
        {% endif %}
        {% include 'partials/footer' %}
        {% include 'partials/scripts' %}
    </body>
</html>